.gallery{
    @include clearfix;

    h2{
      font-size:map-get($heading-font-size,h2)
    }


     li.image-container {
       float:left;
       list-style:none;
       @include grid-images(4,6%);

       img{
          display:block;
          max-width:100%;
          @include border-radius(10px);
       }

     }
}
