//Variables
$white : #FFFFFF;
$blue :  #0000ff;
$light-blue :#e6f5ff;
$black  : #000000 ;
$light-grey :lighten($black,40);

$text-center:center;

$bg-color : $white;
$text-color : $black;

$paragraph-font-size:17px;

$nav-bg-color : $blue;
$menu-anchor-font-size : 1.4rem;

$heading-font-family:'Greek';

$heading-color: $light-grey;
$heading-font-size:(
  h1: 38px,
  h2: 36px,
  h3: 32px,
  h4: 28px,
  h5: 24px,
  h6: 20px
);


//visit
$visit-border-color: $black;
$visit-heading-color :  $light-grey;
$visit-text-color : $white;

//grid and responsive
$breakpoints:(
    phone:480px,
    tablet:768px,
    desktop:1024px
);

$columns :12;
$grid-max-width: 1200px;


//buttons
$btn-font-size :16px;

//footer-navigation
$bg-footer:$blue;
